@media screen and (min-width: 1025px)
{

    .UserSongs
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(30, 30, 30);
    }

    .UserSongInfo
    {
        width: 90%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px rgb(20, 20, 20);
        text-decoration: none;
        color: white;
        transition: scale 0.2s ease-in-out;
    }

    .UserSongInfo:hover
    {
        scale: 1.01;
    }

    .UserSongimage
    {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
    }

    .SongData
    {
        margin-left: 10px;
        margin-right: auto;
    }

    .AddToListForm
    {
        width: 20%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .AddToListForm .Button
    {
        height: 35px;
        width: 100%;
        font-weight: bold;
        color: white;
        border-radius: 50px;
        border: solid 3px rgb(0,101,157);
        transition: scale 0.2s ease-in-out;
    }

    .QuitFromListForm
    {
        width: 20%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .QuitFromListForm .Button
    {
        height: 35px;
        width: 100%;
        font-weight: bold;
        color: white;
        border-radius: 50px;
        border: solid 3px rgb(0,101,157);
        transition: scale 0.2s ease-in-out;
    }

}


@media screen and (min-width: 681px) and (max-width: 1024px)
{
    .UserSongs
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(30, 30, 30);
    }

    .UserSongInfo
    {
        width: 90%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px rgb(20, 20, 20);
        text-decoration: none;
        color: white;
        transition: scale 0.2s ease-in-out;
    }

    .UserSongInfo:hover
    {
        scale: 1.01;
    }

    .UserSongimage
    {
        height: 50px;
        width: 50px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
    }

    .SongData
    {
        margin-left: 10px;
        margin-right: auto;
    }

    .AddToListForm
    {
        width: 25%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .AddToListForm .Button
    {
        height: 35px;
        width: 100%;
        font-weight: bold;
        color: white;
        border-radius: 50px;
        border: solid 3px rgb(0,101,157);
        transition: scale 0.2s ease-in-out;
    }

    .QuitFromListForm
    {
        width: 25%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .QuitFromListForm .Button
    {
        height: 35px;
        width: 100%;
        font-weight: bold;
        color: white;
        border-radius: 50px;
        border: solid 3px rgb(0,101,157);
        transition: scale 0.2s ease-in-out;
    }

}

@media screen and (max-width: 680px)
{.UserSongs
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(30, 30, 30);
    }

    .UserSongInfo
    {
        width: 90%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px rgb(20, 20, 20);
        text-decoration: none;
        color: white;
        transition: scale 0.2s ease-in-out;
    }

    .UserSongInfo:hover
    {
        scale: 1.01;
    }

    .UserSongimage
    {
        height: 50px;
        width: 50px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
    }

    .SongData
    {
        margin-left: 10px;
        margin-right: auto;
    }

    .AddToListForm
    {
        width: 35%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .AddToListForm .Button
    {
        height: 35px;
        width: 100%;
        font-weight: bold;
        color: white;
        border-radius: 50px;
        border: solid 3px rgb(0,101,157);
        transition: scale 0.2s ease-in-out;
    }

    .QuitFromListForm
    {
        width: 35%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .QuitFromListForm .Button
    {
        height: 35px;
        width: 100%;
        font-weight: bold;
        color: white;
        border-radius: 50px;
        border: solid 3px rgb(0,101,157);
        transition: scale 0.2s ease-in-out;
    }

    
}